* {
    ; font-family     : courier new, courier, monospace, sans-serif
    ; background-color: #333
    ; color           : #999
}

a {; background-color: transparent}
a:link, a:visited {; text-decoration: none     }
a:hover, a:active {; text-decoration: underline}
a:link    {; color: pink      }
a:visited {; color: PowderBlue}
a:hover   {; color: SkyBlue   }
a:active  {; color: PaleGreen }

h1, h2, h3, h4, h5, h6 {; text-transform: uppercase}

table, th, td {
    ; border          : 1px solid black
    ; border-collapse : collapse
    ; text-align      : center
    ; background-color: #666
    ; color           : #ccc
}
th, td {; padding: 5px}
.ico {
    ; width : 16px
    ; height: 16px
}
