.hover {; text-decoration-style: dashed}
.default {; font-family: georgia, serif}
p, span, div {
    ; color           : black
    ; background-color: white
}
div {
    ; padding: 1px 15px
    ; margin: 10px 0px
}
#FFS {
    ; text-decoration: underline
    ; color: #009
}
