#flip {
    ; display: inline-block
    ; -webkit-transform: scaleX(-1)
    ; -moz-transform: scaleX(-1)
    ; -ms-transform: scaleX(-1)
    ; transform: scaleX(-1)
    ; -ms-filter: fliph
    ; filter: fliph
}
