a    {; top: 50%; position: absolute}
body {; font-family: monospace, sans-serif; text-align: center; font-size: 5vw}
@keyframes awooga {
    0%, 100% {; background-color: red   ; color: yellow}
    50%      {; background-color: yellow; color: red   }
}
a, body {; animation: awooga .1s infinite; text-decoration: none}
